<div class="container">
	<div class="row">
		<div class="col">
		<div id="recent_attempts">
			<h4>Recent Attempts</h4>
			<%= render partial: 'shared/submissions', object: @recent_attempts %>
		</div>
		</div>
		<div class="col">
		<div id="recently-solved">
			<h4>Recently Solved</h4>
			<%= render partial: 'shared/submissions', object: @recent_solved %>
		</div>
		</div>
	</div>
</div>
