<div class="container">
	<div class="row">
		<div class="col">
		<div id="recent_attempts">
			<h4>Recent Attempts</h4>
			<%= render partial: 'shared/submissions', object: @recent_attempts %>
		</div>
		</div>

	<%- if signed_in? -%>
		<div class="col">
		<div id="recently-solved">
			<h4>Your Attempts</h4>
			<%= render partial: 'shared/submissions', object: @user_attempts %>
			<% if @user_attempts.length == 0 &&
					current_user.accounts.length == 0 %>
				<div class="alert alert-danger">
					Couldn't find associated account. If you
					want to submit problems, contact the
					administrator.
				</div>
			<% end %>
		</div>
		</div>
	<%- else -%>
		<div class="col">
		<div id="recently-solved">
			<h4>Recently Solved</h4>
			<%= render partial: 'shared/submissions', object: @recent_solved %>
		</div>
		</div>
	<%- end -%>
	</div>
</div>
