<div id="recent_attempts" class="col-md-6">
	<h4>Recent Attempts</h4>
	<%= render partial: 'shared/submissions', object: @recent_attempts %>
</div>

<div id="recently-solved" class="col-md-6">
	<h4>Recently Solved</h4>
	<%= render partial: 'shared/submissions', object: @recent_solved %>
</div>
