<div class="container">	
		<table id="targetTable" class="table" width="100%">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Solved Problems</th>
					<th>Score</th>
				</tr>
			</thead>
			<% @accounts.each.with_index(1) do |a, i| -%>
				<tr>
					<td><%= i %></td>
					<td><%= link_to a.name, a -%></td>
					<td><%= a.solvedProblems -%></td>
					<td><%= a.score -%></td>
				</tr>
			<% end -%>
		</table>
</div>

<script>$(document).ready(function() {
 $("#targetTable").dataTable({
"paging":false,
"searching":false,
"info":false
});
});
targetTable.classList.remove('form-inline');
</script>
