<h1 class="page-title">Changelog</h1>
<p>
The following is new as of April 24, 2018:
<ul>
<li>
The submissions tab has been updated. 
</li>
<li>Recent changes in ranking are now visible on the leaderboard.</li>
<li>Achievements have been added.</li>
<li>The Slackbot has been fixed.</li>
<li>Problem-name issues have been fixed.</li>
</ul>
</p>
