<h1><%= @problem.short_name -%>: <%= @problem.name -%></h1>

<object data="<%= statement_url @problem, @server %>" width="100%" height="375" type="application/pdf">
	<p>The problem statement can be found <%= link_to "here", statement_url(@problem, @server)%>. Your browser does not support embedding PDF files..
</object>
	
