<table id="targetTable" class="table">
	<thead>
		<tr>
			<th>Short name</th>
			<th>Name</th>
			<% if logged_in? %>
				<th>Solved?</th>
			<% end %>
			<th>Solved by</th>
			<th>Attempted by</th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: problems, locals: { attempted: get_attempted(server.id), acsubs: count_accepted_submissions, subs: count_submissions } %>
	</tbody>
</table>

<script>
$(document).ready(function() {
 $("#targetTable").dataTable({
"paging":false,
"searching":false,
"info":false
});
});
targetTable.classList.remove('form-inline');
</script>
