<table class="table table-condensed">
	<thead>
		<tr>
			<th>Short name</th>
			<th>Name</th>
			<% if logged_in? %>
				<th>Solved?</th>
			<% end %>
			<th>Solved/Attempted by</th>
		</tr>
	</thead>
	<%= render partial: problems, locals: { attempted: get_attempted(problems, server), acsubs: acsubs, subs: subs } %>
</table>
