<h1 class="page-title">Submissions</h1>
<div class="col">
		<div id="recently-solved">
			<%= render partial: 'shared/submissions', object: @user_attempts %>
		</div>
</div>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("some_id", @chart) %>