# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a11a9bec0834c3247391b111df40095cfd93f2a724817fe774ba18ad9714ec1166e3e9aec1b91d61290df8e9d4f03ef84325b864f707992d29832d4867b4cb2c

test:
  secret_key_base: 2ff2aa515506f09a2c46150cd5ab86b426cfa002c413820ed01ad11c1e0e3635267798c377550cf433e094da2e97c1ab178880ef5856fa9734dc39664d5d6342

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  sentry_dsn: false
