// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#problem-pdf {
	width:100%;
	height:80vh;
}

li.tabright {
	float: right;
	line-height: 34px;
}

table.sorted thead tr {
	th::after {
		@extend .fa;
		width: 14px;
		float: right;
		content: "";
	}
	th.sorting-asc::after {
		content: $fa-var-caret-down;
	}
	th.sorting-desc::after {
		content: $fa-var-caret-up;
	}
}
